export(boot_uncertainty)
export(uncertainty_score)
export(validate_uncertainty)
export(tumor_covariates)
export(clr_transform)
export(uncertainty_drivers)
S3method(print, boot_unc)
S3method(summary, boot_unc)
S3method(print, unc_scores)
S3method(plot, unc_scores)
S3method(print, unc_drivers)
S3method(summary, unc_drivers)
S3method(plot, unc_drivers)
export(collapse_rare_levels)
